.navbar{
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #5d6e6f, #121c24);
    -fx-background-radius: 15;
    -fx-border-width: 5;
    -fx-border-color: linear-gradient(#565e62, #739d93);
    -fx-border-radius: 15;
    -fx-text-fill: white;
    -fx-min-width: 900;
    -fx-min-height: 75;
    -fx-max-width: 900;
    -fx-max-height: 75;
}

.case{
    -fx-min-width: 180;
    -fx-max-width: 180;
    -fx-text-fill: white;
}