@import "base.css";
@import "navbar.css";

.box{
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #5d6e6f, #121c24);
    -fx-background-radius: 50;
    -fx-border-width: 5;
    -fx-border-color: linear-gradient(#565e62, #739d93);
    -fx-border-radius: 50;
    -fx-text-fill: white;
    -fx-min-width: 400;
}

.image{
    -fx-padding: 20 0 0 0;
}

.progress-bar{
    -fx-border-width: 1;
    -fx-border-color: white;
}

.progress-bar > .bar, .progress-bar > .track {
    -fx-background-insets: 0;
}

.progress-bar .bar {
    -fx-background-color: white;
}

.progress-bar .track{
    -fx-background-color: transparent;
}

.actionsList {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #5d6e6f, #121c24);
    -fx-background-radius: 15;
    -fx-border-width: 5;
    -fx-border-color: linear-gradient(#565e62, #739d93);
    -fx-border-radius: 15;
    -fx-min-width: 400;
    -fx-max-width: 400;
    -fx-min-height: 500;
    -fx-max-height: 500;
}